.form-button {
    width: 10rem;
    height: 2.5rem;
    background: var(--naranja);
    margin: 0rem 0;
    border: none;
    border-radius: 10px;
    padding: 0.3rem 0;
    color: var(--blanco);
    font-size: 1.5rem;
    cursor: pointer;
}

.form-button:hover {
    background: #C14A09;
    transition: transform 0.3s ease;
}