.carrito {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.carrito-content {
    border: 2px solid #ee5f0d;
    border-radius: 5px;
    width: 72%;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #2E3138;
}

.carrito-resumen {
    font-family: "arial", sans-serif;
    border: 2px solid #ee5f0d;
    border-radius: 5px;
    width: 26%;
    padding: 1rem; 
    color: white;
    background-color: #2E3138;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.resumen-text {
    border-bottom: 1px solid #ee5f0d;
    padding-bottom: 1rem;
}

.resumen-text h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.resumen-list div {
    display: flex;
    justify-content: space-between;
}

.productos-envio {
    border-bottom: 1px solid #ee5f0d;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.descuento-total {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.descuento {
    font-size: 16px;
    color: gray;
}

.total {
    font-size: 24px;
    font-weight: bold;
}

.continuar-compra {
    background-color: #ee5f0d;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    margin-left: 17%;
}