

.contacto {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
    background-color: var(--negro);
}


.contact-logo {
    width: 300px;
    object-fit: contain;
    margin-top: 4rem;
}

.form-title {
    font-size: 2.5rem;
}

.form-text {
    width: 34%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: var(--blanco);
    gap: 0.5rem;
}

textarea {
    width: 16.5rem;
    border-radius: 4px;
    padding: 1rem 0.5rem 6rem 0.5rem;
    border: none;
    outline: none;
    background: #404040;
    color: var(--blanco);
    resize: none;
    font-size: 1rem;
}

.form-button {
    width: 13rem;
    height: 2rem;
    background: var(--naranja);
    margin: 1.5rem 0;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.3rem 0;
    color: var(--blanco);
    font-size: 1rem;
    cursor: pointer;
}

.form-button:hover {
    background: #C14A09;
    transition: transform 0.3s ease;
}

.burger-icon{
    color: var(--naranja);
    font-size: 1.7rem;
}