*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contacto{
    background-color: var(--negro);
}

.contact-logo{
    width: 300px;
    object-fit: contain;
    margin: 0;
}
.form-title{
    font-size: 2.5rem;
}

.form-text{
    width: 34%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    gap: 0.5rem;
}

.form-label{
    font-size: 0.9rem;
    width: 16rem;
    display: flex;
}

.input-container {
    position: relative;
    display: inline-block;
}
.input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--blanco);
}


.input-container input, textarea{
    width: 16rem;
    border-radius: 4px;
    padding: 0.5rem 0;
    padding-left: 2rem;
    border: none;
    outline: none;
    background: #3B3F40;
    color: var(--blanco);
}

textarea{
    padding: 0.5rem 0.5rem 6rem 0.5rem;
    resize: none;
}

.form-button{
    width: 13rem;
    height: 2rem;
    background: var(--naranja);
    margin: 1.5rem 0;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.3rem 0;
    color: var(--blanco);
    font-size: 1rem;
    cursor: pointer;
}

.form-button:hover{
    background: #C14A09;
    transition: transform 0.3s ease;
}
