.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
    background-color: var(--negro);
}

.login-container {
    /* background-color: var(--negro); */
    border-radius: 50px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 10%;
}

.login-logo {
    /* cambie el tamaño del logo */
    width: 300px;
    object-fit: contain;
    margin: 0;
    /* width: 442px; */
    /* height: 347px; */
    /* margin-bottom: 64px; */
    /* aspect-ratio: 442.27/347; */
}

.input-group {
    /* cambie el ancho de los input */
    /* width: 384px; */
    width: 16rem;
    margin-bottom: 10px;
}

.input-group label {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
}

.input-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 16px;
    background: #404040;
    border: 1px solid #737373;
    border-radius: 4px;
    height: 40px;
}

/* quite el bordeado a los input por dentro y cambie el color de la letra */
.input-wrapper input {
    flex: 1;
    background: none;
    border: none;
    color: var(--blanco);
    outline: none;
    font-size: 14px;
    line-height: 20px;
}

.input-wrapper input::placeholder {
    color: #71717A;
}

.remember-me {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 2rem;
    height: 24px;
    width: 137px;
    align-self: self-start;
    margin-left: 2rem;
}

.remember-me span {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.forgot-password {
    color: #6366F1;
    font-size: 1rem;
    line-height: 20px;
    text-decoration: none;
    margin-bottom: 2rem;
    cursor: pointer;
}

.btn {
    width: 269px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    color: #F5F5F5;
    cursor: pointer;
    border: 1px solid;
}

.btn-login {
    background: #404040;
    border-color: #737373;
    margin-bottom: 1rem;
}

.btn-register {
    background: #EA580C;
    border-color: #EA580C;
}