.seccion-productos{
    display: flex;
    flex-wrap: wrap;
    width: flex;
    background-color:#88745f;
    

}

.cards-container{
    flex-wrap: wrap;
    gap: 1rem;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 15px;
    flex-grow: 0;
    flex-shrink: 1;
   
    
    
}

/*texto card */
.texto {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
    color : var(--blanco);
    background-color: var(--naranja);
}


/* cards   */
.cards-container .img-thumbnail {
    width: 180px;
    height: 180px;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
    display: block;
    border-color: #EE5F0D;
    
}

/* descripcion de cards   */
/* .card-body .descripción{
    margin-bottom: 0.5rem;
    text-align: center;
} */
/* estrellas  */
.estrellas{
    display: flex;
    align-items: right;
    flex-direction: row;
    gap: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    
    justify-content: flex-start;

    align-items: right;
    font-size: 0.9rem;
    color: #bb5c21;
}
.fa-star {
   display: inline-block; 
    font-size: 1.2rem; 
    color: oklab(from color l a b);
}

/* precio producto */
.card-body .precio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--naranja);
    font-weight: bold;
    margin-top: auto;
    font-size: 2.0rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.card{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.card-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    background-color: #b8afaf;     
}

/* color del boton comprar, agegar carrito */
.card-body .botones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 10px; 
    padding: 1rem 1.5rem;            
    font-family: 'Roboto', sans-serif;                 
    margin: auto;
    margin-top :auto;       
    background-color: transparent;
}
.card-body .botones button {
    flex: 1;
    min-width: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #88745f;
    color: #fafafa;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
    padding: 0.7rem 1.2rem;
}
