.img-prod {
    width: 10rem;
    /* height: 100%; */
    border-radius: 20px;
    cursor: pointer;
    aspect-ratio: 1;
    object-fit: contain;
    border: 1px solid #ccc;
    background-color: var(--blanco);
    margin-top: 1rem;
}

.seccion-productos {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sub-productos{
    color: var(--blanco);
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
}

.card-producto {
    width: 20rem;
    border: 1px solid #ccc;
    background-color: #E3E2E0;
    border-radius: 20px;
    padding: 1rem;
    height: 23.3rem;
}

.card {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.detalle-prod {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* margin-top: 1rem; */
}

.producto-nombre {
    white-space: nowrap;
}

.precio{
    font-weight: 600;
    font-size: 1.3rem;
}

.botones {
    display: flex;
    gap: 0 0.6rem;
    padding: 1rem 0;
}

.comprarAhora {
    background-color: var(--naranja);
    color: var(--blanco);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.comprarAhora:hover {
    background-color: #C14A09;
}

.agregarCarrito {
    background-color: var(--gris-osc);
    color: var(--blanco);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}
.agregarCarrito:hover {
    background-color: #9a9a9a;
}

@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .seccion-productos{
        height: 200vh;
    }
    .sub-productos{
        font-size: 1.3rem;
    }
    .img-prod{
        width: 8rem;
    }

    .card-producto{
        width: 13rem;
    }
    .producto-nombre{
        font-size: 1rem;
    }

    .botones{
        padding: 0;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        gap: 0.5rem 0;
    }
    
}
