.checkboxes{
   width: 20rem;
}
.checkbox-group {
  margin-top: 1rem;
  font-size: 14px;
  color: var(--blanco);
  align-self: self-start;
  white-space: nowrap;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkbox-group input[type="checkbox"] {
  accent-color: var(--naranja);
}

.btn-register {
  margin-top: 3rem;
}

.go-login {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.5rem;
}

.login-container a {
  color: rgb(1, 1, 197) !important;
}
.go-login{
  font-size: 1rem;
}

.icon-register{
  color: white;
}

@media(max-width: 760px) {
    .checkbox-group{
        white-space: wrap;
    }
}